<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- todo: when choosing every, other options disabled; allow multiple selections (with exception of every)-->



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">	




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<body>
	<div class=jumbotron style=margin-bottom:0;>
	<div class=container style=text-align:center;>
	<h1>Edit Your Messages</h1>
		<div class=container>
		<p style=text-align:center;>Decide how many fucks you give and set a time.</p>
		</div>
	</div>
	</div>
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
	<div class=container>
	<ul class="navbar-nav">
  	<li class="nav-item">
		<a class=nav-link href=/profile>profile</a></li>
	<li class=nav-item>
		<a class="nav-link" href=/validate>validate</a></li>
	<li class=nav-item>
		<a class="nav-link" href=/add_target>add target</a></li>
	<li class="nav-item">
		<a class="nav-link" href=/add_mess>edit message</a></li>

	</ul>
		<ul class="navbar-nav ml-auto">
  	<li class="nav-item">
		<a class="nav-link" href=/logout>logout</a></li>
	</ul>
	</div>
</nav>
	

<div class="container" style=text-align:center;padding-top:20px;>

<form method=post>
<div class=form-group>
{% csrf_token %}
<big><big>You are editing the messages for {{edit_phone}}</big></big>
<input type=hidden value={{edit_phone}} name=phone>
</br>
<label for=fucksearch>Search</label>
<input type=text class=form-control aria-describedby="searchHelp" id=fucksearch name=fucksearchs>
<small id="searchHelp" class="form-text text-muted">Search for a keyword in a phrase</small>
</div>
<big><div id=searchresults></div></big>
<div class=form-group>
<label for=monthSelect>Month</label>
<select class=form-control id=monthSelect>
	<option value='*'>Every Month</option>
	<option value='1'>January</option>
	<option value='2'>February</option>
	<option value='3'>March</option>
	<option value='4'>April</option>
    <option value='5'>May</option>
    <option value='6'>June</option>
    <option value='7'>July</option>
    <option value='8'>August</option>
    <option value='9'>September</option>
    <option value='10'>October</option>
    <option value='11'>November</option>
    <option value='12'>December</option>
	</select>
</div>
<div class=form-group>
<label for=WeekdaySelect>Weekday</label>
<select class=form-control id=WeekdaySelect>
	<option value='*'>Every day</option>
	<option value='0'>Sunday</option>
    <option value='1'>Monday</option>
    <option value='2'>Tuesday</option>
    <option value='3'>Wednesday</option>
    <option value='4'>Thursday</option>
    <option value='5'>Friday</option>
    <option value='6'>Saturday</option>
	</select>
</div>
<div class=form-group>
<label for=daySelect>Day</label>
<input class=form-control id=daySelect type=number name=day min=1 max=24 value=* aria-describedby=dayHelp>
<small id=dayHelp class="form-text text-muted">Enter a value 1-31</small>
</div>
<div class=form-group>
<label for=hourSelect>Hour</label>
<input class=form-control id=hourSelect type=number name=hour min=0 max=23 value=* aria-describedby=hourHelp>
<small id=hourHelp class="form-text text-muted">Enter a value 0-23</small>
</div>
<div class=form-group>
<label for=minSelect>Minute</label>
<input class=form-control id=minSelect type=number name=minute min=0 max=59 value=* aria-describedby=minHelp>
<small id=minHelp class="form-text text-muted">Enter a value 0-59</small>
</div>


<button id=messFormSubmit class="btn btn-outline-dark" action=submit>Submit</button>
</div>
</form>

</div>

<script src="profile.js"></script>
<script>
/*$.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
*/
$(document).ready(function(){
		$("#fucksearch").keyup(function() {
		var txt = $("#fucksearch").val();
		$.post("allfucks",{'word':txt},function(result){
			$("#searchresults").html(result);
		});
	});	
});
</script>


</html>
