<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- todo: when choosing every, other options disabled; allow multiple selections (with exception of every)-->
<form method=post>
{% csrf_token %}
search for a keyword
<input type=text id=fucksearch name=fucksearchs>
<div id=searchresults></div>
</br>
Month:<select name=month>
	<option value='*'>Every Month</option>
	<option value='1'>January</option>
	<option value='2'>February</option>
	<option value='3'>March</option>
	<option value='4'>April</option>
    <option value='5'>May</option>
    <option value='6'>June</option>
    <option value='7'>July</option>
    <option value='8'>August</option>
    <option value='9'>September</option>
    <option value='10'>October</option>
    <option value='11'>November</option>
    <option value='12'>December</option>
	</select>
</br>
Weekday: <select name=weekday>
	<option value='*'>Every day</option>
	<option value='0'>Sunday</option>
    <option value='1'>Monday</option>
    <option value='2'>Tuesday</option>
    <option value='3'>Wednesday</option>
    <option value='4'>Thursday</option>
    <option value='5'>Friday</option>
    <option value='6'>Saturday</option>
	</select>
</br>
Day: Enter a number 1-30/31<input type=number name=day min=1 max=24 value=*>
</br>
Hour: Enter a number 1-24  <input type=number name=hour min=1 max=24 value=*>
</br>
Minute: Enter a number 1-60 <input type=number name=minute min=1 max=60 value=*>
</br>
Second: Enter a number 1-60 <input type=number name=second min=1 max=60 value=*>
</br>

<button action=submit>submit</button>
</form>


<script>
/*$.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
*/
$(document).ready(function(){
		$("#fucksearch").keyup(function() {
		var txt = $("#fucksearch").val();
		$.post("allfucks",{'word':txt},function(result){
			$("#searchresults").html(result);
		});
	});	
});
</script>


</html>
