<!DOCTYPE html>
<html>
<title>FOAAS</title>
{% load staticfiles %}
<head>
<link type=text/css href={% static "style.css" %} rel=stylesheet />
</head>

<body>
<h1>Welcome to FOAAS</h1>
<h2>Shake off the annoying spam </h2> 

<p id="demo"></p>
<div id=login>
{{ message }}
<h3>log in with your twitter account</h3>

	<label><b>Username</b></label>
	<input id=username type=text placeholder="Enter your username">
	<label><b>Password</b></label>
	<input id=password type=password placeholder="Enter your password">

	<form method=post>{% csrf_token %}<button type="submit">Log in</button></form>
</div>


</body>
</html>
