<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">	
<title>FOAAS</title>
<style>
#logout{
  padding: 10px 20px;
  position: fixed;
  top: 0;
  right: 0;

}
#add{
  background-color: #008cba;
  color: white;
  border: none;
}
.table{
  border-style: double;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}
h1{
  text-align:center
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<body>
	<div class=jumbotron style=margin-bottom:0;>
	<div class=container>
	<h1>Tell Them to Fuck Off</h1>
		<div class=container>
		<p style=text-align:center;>Welcome to your fucking profile</p>
		</div>
	</div>
	</div>
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
	<div class=container>
	<ul class="navbar-nav mr-auto">
  	<li class="nav-item">
		<a class="nav-link" href=/profile>profile</a></li>
	<li class="nav-item">
		<a class="nav-link" href=/validate>validate</a></li>
<li class="nav-item">
		<a class="nav-link" href=/add_target>add target</a></li>
<li class="nav-item">
		<a class="nav-link" href=/add_mess>edit message</a></li>
	</ul>
		<ul class="navbar-nav ml-auto">
  	<li class="nav-item">
		<a class="nav-link" href=/logout>logout</a></li>
	</ul>
	</div>
</nav>

{% if user.is_authenticated %}

<div id=targetContainer style=padding-top:20px;>
  <h1> {{user.username}}'s profile:</h1>
<div class="row col-md-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Platform</th>
      <th scope="col">Contact</th>
      <th scope="col">Message</th>
      <th scope="col">Frequency</th>
      <th scope="col"></th>
    </tr>
  </thead>

{% for platform,contact,mess,freq in user_targets_phone_mess %}
<tr>
<form method=post>
{% csrf_token %}
	<td><button id={{contact}}>Edit</button></td>
	<td>{{ platform }}</td>
	<td>{{ contact }}</td><input type=hidden value={{contact}} name=del_contact>
	<td>{{ mess }}</td>
	<td>{{ freq }}</td>
	<td><button action=submit name=delete>X</button></td>
</form>
{% endfor %}

</tr>

</table>
</br>
</div>



{% else %}

	not logged in
{% endif %}
<script src="profile.js"></script>
<script>
/*
$(document).ready(function(){
		$("#fucksearch").keyup(function() {
		var txt = $("#fucksearch").val();
		$.post("allfucks",{'word':txt},function(result){
			//$("#searchresults").html(result);
			document.getElementById('searchresults').innerHTML = result;
		});
	});	
});
*/

var btn_name="";

$(document).ready(function(){
	$("#submitbtn").click(function() {
	$.post("addmessage",{'phone':btn_name});
	});
});

$(document).ready(function(){
	$("button[id^='+']").click(function(){
		btn_name = this.id;
		$("#hidcontact").val(btn_name);
		$("#messageEditForm").toggle();
	});
});
/*
$(document).ready(function(){
    $("button[id^='@']").click(function(){
        btn_name = this.id;
        $("#hidcontact").val(btn_name);
        $("#messageEditForm").toggle();
    });
});
*/
$(document).ready( function() {
	jQuery(function ($) {
    var $inputs = $('input[name=tphone],input[name=twit]');
    $inputs.change(function () {
        // Set the required property of the other input to false if this input is not empty.
        if($(this).val()!=""){
			$inputs.not(this).prop({disabled:true}, !$(this).val().length);
		}
		else{
			$inputs.not(this).prop({disabled:false}, !$(this).val().length);
		}
    });
});
});

</script>
</body>
</html>
