<!DOCTYPE html>
<html>
<title>FOAAS</title>
<style>
#logout{
  padding: 10px 20px;
  position: fixed;
  top: 0;
  right: 0;

}
#add{
  background-color: #008cba;
  color: white;
  border: none;
}
table{
  border-style: double;
}
h1{
  text-align:center
}
#user{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#user td, #user th {
    border: 1px solid #ddd;
    padding: 8px;
}

#user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;

}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
{% if user.is_authenticated %}

  <a href="/logout">logout</a>
  <h1> {{user.username}}'s profile:</h1>
<div id=targetContainer>
<table>
<tr>
<th>
	<td>Platform</td>
	<td>Contact</td>
	<td>Message</td>
	<td>Frequency</td>
</tr>
</th>
{% for platform,contact,mess,freq in user_targets_phone_mess %}
<tr>
	<td><button id={{contact}}>Edit</button></td>
<form method=post>
{% csrf_token %}
	<td>{{ platform }}</td>
	<td>{{ contact }}</td><input type=hidden value={{contact}} name=del_contact>
	<td>{{ mess }}</td>
	<td>{{ freq }}</td>
	<td><button action=submit name=delete>X</button></td>
</form>
{% endfor %}

</tr>
</table>
<div id=messageEditForm style=display:none>
	<form method=post>
{% csrf_token %}
<input type=text value="" name=phone id=hidcontact readonly>
search for a keyword
<input type=text id=fucksearch name=fucksearchs>
<div id=searchresults></div>
</br>
Month:<select name=month>
	<option value='*'>Every Month</option>
	<option value='1'>January</option>
	<option value='2'>February</option>
	<option value='3'>March</option>
	<option value='4'>April</option>
    <option value='5'>May</option>
    <option value='6'>June</option>
    <option value='7'>July</option>
    <option value='8'>August</option>
    <option value='9'>September</option>
    <option value='10'>October</option>
    <option value='11'>November</option>
    <option value='12'>December</option>
	</select>
</br>
Weekday: <select name=weekday>
	<option value='*'>Every day</option>
	<option value='0'>Sunday</option>
    <option value='1'>Monday</option>
    <option value='2'>Tuesday</option>
    <option value='3'>Wednesday</option>
    <option value='4'>Thursday</option>
    <option value='5'>Friday</option>
    <option value='6'>Saturday</option>
	</select>
</br>
Day: Enter a number 1-31<input type=number name=day min=0 max=31 placeholder=* value=*>
</br>
Hour: Enter a number 1-24  <input type=number name=hour min=0 max=24 value=* placeholder=*>
</br>
Minute: Enter a number 1-60 <input type=number name=minute min=0 max=60 value=* placeholder=*>
</br>
Second: Enter a number 1-60 <input type=number name=second min=0 max=60 value=* placeholder=*>
</br>

<button action=submit id=submitbtn>submit</button>
</form>
</div>

</div>
{% else %}

	not logged in
{% endif %}
<script src="profile.js"></script>
<script>

var btn_name="";

$("#submitbtn").click(function() {
	$.post("addmessage",{'phone':btn_name});
	});


$(document).ready(function(){
	$("button[id^='+']").click(function(){
		btn_name = this.id;
		$("#hidcontact").val(btn_name);
		$("#messageEditForm").toggle();
	});
});

$(document).ready(function(){
    $("button[id^='@']").click(function(){
        btn_name = this.id;
        $("#hidcontact").val(btn_name);
        $("#messageEditForm").toggle();
    });
});

$(document).ready(function(){
		$("#fucksearch").keyup(function() {
		var txt = $("#fucksearch").val();
		$.post("allfucks",{'word':txt},function(result){
			$("#searchresults").html(result);
		});
	});	
});

</script>
</body>
</html>
