  button {
    background-color: #006400;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
 h2{
  margin top: 0;
  color: white;
  text-indent: 3em; 
  background-color: #000000
  animation: float 4s;
  -webkit-animation: float 4s;
}
@keyframes float{
  0%{opacity:100%;}
  50%{opacity:0%;}
  100%{opacoty:100%;}

}
@-webkit-keyframes float{
  0%{opacity:100%;}
  50%{opacity:0%;}
  100%{opacoty:100%;}
}
  h1{
    margin: 0;
    color: black;
    text-align: center;
    background-color: #008cba
}
  h3 {
    display: block;
    font-size: 1em;

    font-weight: bold;
}
  #login {
    margin:auto;
    width:500px;
    height:500px;
}
  #username, #password {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


