<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<body>
	<div class=jumbotron style=margin-bottom:0;>
	<div class=container>
	<h1 style=text-align:center;>Validate a phone number</h1>
	<div class=container>
	<p style=text-align:center;>You must validate a phone number before you send messages to because we're cheap fucks using the free Twilio trial</p>
	</div>
	</div>
	</div>
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
	<div class=container>
	<ul class="navbar-nav mr-auto">
	<li class="nav-item">
		<a class="nav-link" href=/profile>profile</a></li>
	<li class="nav-item">
		<a class="nav-link" href=/validate>validate</a></li>
<li class="nav-item">
		<a class="nav-link" href=/add_target>add target</a></li>
<li class="nav-item">
		<a class="nav-link" href=/add_mess>edit message</a></li>
	</ul>
	<ul class="navbar-nav ml-auto">
  	<li class=nav-item><a class="nav-link" href=/logout>logout</a></li>
	</ul>
	</div>
	</nav>

<div class="row col-md-12" style=text-align:center;padding-top:20px;>
	<form method=post style="margin:0 auto;width:80%;float:none;">
	{% csrf_token %}
	<div class=form-group>
	<label for=phoneVal>Phone</label>
	<input class=form-control id=phoneVal type=text name=val_phone aria-describedby=valHelp>
	<small id=valHelp>The phone number you enter will be called. Enter the code below:</small>
	</div>
	</br>
<big><big><big>{{ code }}</big></big></big>
	</br>
<big>Once that's done, you can add the number as a target.</big>
	<button class="btn btn-outline-dark" type=submit>submit</button>
	</form>
</div>

</body>

<script src="profile.js"></script>

</html>
