<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<body>
	<div class=jumbotron style=margin-bottom:0;>
	<div class=container>
	<h1 style=text-align:center;>Validate a phone number</h1>
	<div class=container>
	<p style=text-align:center;>You must validate a phone number before you send messages to because we're cheap fucks using the free Twilio trial</p>
	</div>
	</div>
	</div>
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
	<div class=container>
	<ul class="navbar-nav mr-auto">
  	<a class="nav-link" href=/profile>profile</a>
	</ul>
	<ul class="navbar-nav ml-auto">
  	<a class="nav-link" href=/logout>logout</a>
	</ul>
	</div>
	</nav>
<div class=container style=text-align:center;padding-top:20px;>
	<form method=post style="margin:0 auto;width:80%;float:none;">
	Phone number: <input type=text name=val_phone>
	</br>You'll get a call. Enter this code when prompted:
	</br>
	{{ code }}
	<button type=submit>submit</button>
	</form>
	</br>
</div>

</body>

<script src="profile.js"></script>

</html>
